<div class="container">
    <h2 class="h2 text-center mt-4">Thêm danh sách điểm khảo sát</h2>
    <form action="/admin/add-list-score-ks" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <label for="ten" class="form-label">tên đợt khảo sát</label>
                <input type="text" class="form-control" id="tendotks" name="tendotks">
            </div>

            <div class="col-md-8">
                <label for="khoithi" class="form-label">chọn khối thi</label>
                <select class="form-select" id="khoithi" name="khoithi">
                    <option value="KA001">A01</option>
                    <option value="KA000">A00</option>
                    <option value="KD000">D00</option>
                    <option value="KB000">B00</option>
                </select>
            </div>


            <div class="col-md-8">
                <label for="lop" class="form-label">chọn niên khóa</label>
                <select class="form-select" id="lop" name="idnk">
                    {{#nienkhoa}}
                    <option value="{{this.idnk}}">{{this.ten}}</option>
                    {{/nienkhoa}}
                </select>
            </div>
        </div>
        
        <div class="input-file mt-2">
            <input type="file" name="danhSachDiemKS" accept=".xlsx">  
        </div>         

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>