<div class="container">
    <h1 class="h1 text-center">Thêm niên khóa mới</h1>
    <form action="/admin/add-nienkhoa" method="post">
        <div class="mb-3">
            <label for="ten" class="form-label">tên niên khóa</label>
            <input type="text" class="form-control" id="ten" name="ten">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>